@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@font-face {
  font-family: "Stretch Pro";
  src: url("fonts/StretchPro.otf");
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // days-one-regular
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.days-one-regular {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body,
app-root {
  height: 100%;
  background: #16121b;
}

app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button-base {
  border-radius: 1.5rem;
  font-family: Days One;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  padding: 10px 10px;
}

.button-green {
  background: #a0fb2d;
  box-shadow: 0px 0px 40.5px 0px #a0fb2d66, 0px -4px 0.8px 0px #000000 inset;
}
